In [20]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
from sklearn import tree

In [21]:
df = pd.read_csv("edited_data.csv")

In [22]:
df;

In [23]:
target=df['Mortality']
target_names=['risk','not_risk']

In [24]:
data = df.drop("Mortality", axis=1)
feature_names = data.columns
data.head()

,Median Age,Smoking history,Current drinker,Obesity,Hypertension,Diabetes,Cardiovascular Disease (incl. CAD),Chronic obstructive lung (COPD),Cancer (Any),Liver Disease (any),Cerebrovascular Disease,Chronic kidney/renal disease,Other
0,56,11,0,0,57,36,15,6,3,0,0,3,23
1,69,5,0,0,26,17,13,4,0,0,0,2,11
2,52,6,0,0,32,19,2,2,10,0,0,0,11
3,58,0,0,0,0,23,0,0,6,0,13,0,0
4,58,0,0,0,0,10,0,0,5,0,5,0,0

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=1)

In [26]:
data.dtypes

Median Age                            int64
Smoking history                       int64
Current drinker                       int64
Obesity                               int64
Hypertension                          int64
Diabetes                              int64
Cardiovascular Disease (incl. CAD)    int64
Chronic obstructive lung (COPD)       int64
Cancer (Any)                          int64
Liver Disease (any)                   int64
Cerebrovascular Disease               int64
Chronic kidney/renal disease          int64
Other                                 int64
dtype: object

In [27]:
clf = tree.DecisionTreeClassifier()

In [28]:
clf = clf.fit(X_train, y_train)

In [29]:
clf.score(X_test, y_test)

0.8512396694214877

In [30]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=500)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8925619834710744

In [31]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.4599471692680473, 'Median Age'),
 (0.10149530929253342, 'Hypertension'),
 (0.0904443411499922, 'Diabetes'),
 (0.061782785276121084, 'Cardiovascular Disease (incl. CAD)'),
 (0.05747904741872985, 'Cancer (Any)'),
 (0.050059141654991625, 'Chronic kidney/renal disease'),
 (0.03685024590191117, 'Chronic obstructive lung (COPD)'),
 (0.035681148761503786, 'Other'),
 (0.03298060948998403, 'Cerebrovascular Disease'),
 (0.02839104810182718, 'Liver Disease (any)'),
 (0.024869565691614394, 'Smoking history'),
 (0.01638519565675315, 'Obesity'),
 (0.0036343923359908395, 'Current drinker')]

In [32]:
dropped_age = data.drop("Median Age", axis=1)

In [33]:
feature_names = dropped_age.columns

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dropped_age, target, random_state=42)

In [35]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7520661157024794

In [36]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=300)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.859504132231405

In [37]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)
# once age is removed as a factor HTN still remains the next big risk factor in mortality

[(0.17054702513526834, 'Hypertension'),
 (0.1520652519566107, 'Diabetes'),
 (0.12925395079568094, 'Cardiovascular Disease (incl. CAD)'),
 (0.12130759399431099, 'Other'),
 (0.09718771866122188, 'Cancer (Any)'),
 (0.07950807560131634, 'Cerebrovascular Disease'),
 (0.06723408467722147, 'Chronic kidney/renal disease'),
 (0.062002952523386196, 'Chronic obstructive lung (COPD)'),
 (0.05456227951165895, 'Smoking history'),
 (0.046179443204025394, 'Liver Disease (any)'),
 (0.012403573623994135, 'Obesity'),
 (0.0077480503153046125, 'Current drinker')]

In [38]:
data = pd.read_csv("owid-covid-data.csv")

In [39]:
data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69817,ZWE,Africa,Zimbabwe,2021-02-14,35172.0,68.0,88.571,1400.0,2.0,10.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
69818,ZWE,Africa,Zimbabwe,2021-02-15,35222.0,50.0,80.571,1410.0,10.0,10.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
69819,ZWE,Africa,Zimbabwe,2021-02-16,35315.0,93.0,76.286,1414.0,4.0,8.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
69820,ZWE,Africa,Zimbabwe,2021-02-17,35423.0,108.0,79.857,1418.0,4.0,7.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
69821,ZWE,Africa,Zimbabwe,2021-02-18,35543.0,120.0,97.000,1420.0,2.0,8.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571